/* styles.css */
body.light-mode {
    background-color: white;
    color: black;
  }
  
  body.dark-mode {
    background-color: black;
    color: white;
  }
  
  /* Button styling */
  #toggleButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
  }
  
  #toggleButton:hover {
    background-color: #0056b3;
  }
  
  #toggleButton:active {
    transform: scale(0.98);
  }
  